.outerTable{
    background-color: #f9f9fb       ;
    margin: 20px;
    border-radius: 10px;
    padding: 5px 15px;
    font-size: 14px;
    color: #fff;
    width: 50%;
    box-shadow: 10px 10px 30px #f8f8f8,
    -5px -5px 15px #f3f4f6
    ;
}

.outerTable tr, .outerTable td{
    border: 1px solid #fff;
    border-radius: 5px;
    text-align: start;
    padding: 1px;
} 


.outerTable thead {
    font-size: 12px;

}

.outerTable details summary{
font-size: 12px;
font-weight: bold;
cursor: pointer;}


.outerTable table {
    margin: 5px;

    margin-left: 30px;
}