



.createOffreComponent {
  height: 100vh;
  background: #e0e0e0;
  width: 100%;
  position: relative;

}

.createOffreComponent input {
  outline: none;
  border: none;
  text-align: center;
  margin: 7px 0;

  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 1px 1px 3px #bebebe,
    -1px -1px 3px #fff;
  height: 50px;
  transform: scale(0.8);

}

.formResultContainer input {
  box-shadow: none;
font-size: large;
text-transform: uppercase;
color: #555;
border-bottom: 1px solid #555;
border-radius: 0;
height: 40px;

}


.offreContainer {
  float: left;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formOffreContainer {
  height: 400px;
  width: 280px;
  background-color: #888;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe,
    -20px -20px 60px #ffffff;
  transform: scale(1.35);
}

.formOffreContainer button {
  color: #fff;
  background: #e0e0e0;
  border: none;
  border-radius: 50px;
  background: #e0e0e0;
  outline: none;
  text-transform: capitalize;
  margin: 5px;
  font-size: large;
  height: 50px;
  border-radius: 50px;
  width: 120px;
  color: #555;

  box-shadow: 3px 3px 9px #bebebe,
    -3px -3px 9px #ffffff;
  transition: 1s;
  cursor: pointer;

}


.formOffreContainer button:hover {

  box-shadow: inset 3px 3px 9px #bebebe,
    inset -3px -3px 9px #ffffff;

}


.createOffreComponent input[type=file] {
  width: 150px;
  position: relative;
  color: #555;
  pointer-events: none;

}

.createOffreComponent input[type=file]::file-selector-button {
  background-color: #e0e0e0;
  border-radius: 50%;
  outline: none;
  border: none;
  position: absolute;
  height: 100%;
  width: 20px;
  color: #fff;
  font-size: large;
  transition: 1s;
  color: #555;
  cursor: pointer;
  pointer-events: all;

}

.createOffreComponent input[type=file]::file-selector-button:hover {
  width: 100%;


}

.resultContainer {
  float: right;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;


}

.formResultContainer {


  height: 400px;
  width: 280px;

  border-radius: 50px;
  background: #e0e0e0;
  transition: 2s;

}

.showFormResultContainer {

  box-shadow:  15px 15px 45px #bebebe,
    -15px -15px 45px #ffffff;

}

.imageContainerOffreResult {
  transform: translateY( -70%);
  right: 100px;
  width: 100px;
  height  : 100px;
  
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow:  5px 5px 15px #bebebe,
     -5px -5px 15px #ffffff;
     transition: 0.2s;
     overflow: hidden;  
}

.imageContainerOffreResult img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.showImageContainerOffreResult {
  box-shadow:  5px 5px 15px #bebebe,
  -5px -5px 15px #ffffff;

} 


.resultOpacityContainer {
  opacity: 0;
  transition: 0.5s;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.showResultOpacityContainer {
  opacity: 1;

}

.infoResultContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  border-radius: 20px;
  background: #e0e0e0;

  overflow: hidden;

  box-shadow:  3px 3px 9px #bebebe,
    -3px -3px 9px #ffffff;
}